<h1>Stuff you need to do...</h1>


<div class="searchbar">
  <%=search_form_for @q, remote: true, id:"search_form_for", :url=>  url_for(:to_do_lists_controller => "q", :action => "index") do |f| %>
  <%= f.text_field :name_or_to_do_items_name_or_to_do_items_details_cont, class:"search_bar_entry_field"  %>
  <%= f.submit "Search" %>
  <%end%>
</div>



<div id="lists">
  <%=render @to_do_lists %>
</div>